@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
  min-height: 100vh;
}

/* Hide scrollbars for sidebar and its children */
.pro-sidebar,
.pro-sidebar-inner,
.pro-menu,
.pro-menu-item {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE 10+ */
}
.pro-sidebar::-webkit-scrollbar,
.pro-sidebar-inner::-webkit-scrollbar,
.pro-menu::-webkit-scrollbar,
.pro-menu-item::-webkit-scrollbar {
  display: none !important;
}

/* Responsive main content */
.content {
  flex: 1 1 0%;
  min-width: 0;
  min-height: 100vh;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

